/* src/styles/_variables.scss */

$navbar-background-color: rgba(255, 255, 255, 0.2);
$navbar-hover-background-color: rgba(255, 255, 255, 0.3);
$box-shadow-default: 0 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 6px 8px rgba(0, 0, 0, 0.15);
$secondary-accent-color: #373A40 ;

$link-color: white;
$link-hover-background-color: rgba(255, 255, 255, 0.7);
$border-radius: 10px;
$transition-time: 0.3s;
$padding-default: 1rem 2rem;
$padding-mobile: 0.5rem 1rem;
$link-padding: 0.5rem 1rem;
$link-padding-mobile: 0.5rem 2rem;

$base-color: #DC5F00;
$secondary-color: #EEEEEE;
$accent-color: #121919;



// #EEEEEE
// #686D76
// #373A40
// #DC5F00
