.aboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: row;
  background: linear-gradient(
    to right,
    rgba(51, 139, 147, 0.075),
    60%,
    rgba(182, 244, 146, 0.075)
  );
  height: 100vh;
  width: 100%;
  font-weight: 500;

  .anm{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
  }
  
  .prjShow{
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: -10rem;

  .inside-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-content: center;
  }

  .item {
    width: fit-content;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 4rem;
      margin-bottom: 5px;
      background: linear-gradient(to right, #b6f492, 80%, #338b93);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-weight: 500;
      text-align: center;
      text-shadow: 20px 0px 60px rgb(0, 0, 0);
    }

    p {
      font-size: 1.5rem;
      width: 200px;
      color: white;
      text-align: center;
      text-shadow: 20px 0px 60px rgb(0, 0, 0);
    }
  }
}

.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-right: 15rem;
  height: 100%;
  margin-top: -10rem;

  .profileImage {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      border: 3px solid transparent; /* Set border size here */
    }

    &::before {
      border-top-color: #338b93;
      border-right-color: #338b93;
      animation: rotate1 10s linear infinite;
    }

    &::after {
      border-bottom-color: #b6f492;
      border-left-color: #b6f492;
      animation: rotate2 10s linear infinite;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.6s ease; /* Smooth transition for the zoom effect */
    }

    &:hover img {
      transform: scale(0.95); /* Zoom out slightly on hover */
    }
  }

  @keyframes rotate1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .name {
    margin-top: 20px;
    font-size: 1.5rem;
    background: linear-gradient(to right, #b6f492, 70%, #338b93);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 20px 0px 60px rgb(0, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  .aboutWrapper {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .right {
    max-width: 100%;
    text-align: center;
  }

  .left {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .item {
    margin: 10px 0;
  }
}

.wrapper-anime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: visible;

  .animation {
    height: 5.2rem;
    overflow: hidden;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .animation > div > div {
    padding: 0.25rem 1.5rem;
    min-height: 2rem;
    min-width: fit-content;
    display: inline-block;
    font-size: 2rem;
    text-shadow: #000000d5 0px 0px 1px;
    font-weight: bold;
    line-height: 2rem;
    white-space: nowrap;
  }

  .animationOnLoad {
    animation: animationDivReveal 4s ease-in-out forwards;
  }

  .animation div:first-child {
    animation: text-animation 10s infinite;
  }

  .first div {
    background-color: #338b93;
    border-radius: 10px;
    margin: 2rem;
  }

  .second div {
    background-color: #833393;
    border-radius: 10px;
    margin: 2rem;

  }

  .third div {
    background-color: #b6f492;
    // min-height: 5.2rem;
    border-radius: 10px;
    margin: 2rem;
  }

  @keyframes text-animation {
    0%,
    20% {
      margin-top: 0;
    }
    25%,
    45% {
      margin-top: -5.2rem;
    }
    50%,
    70% {
      margin-top: -10.4rem;
    }
    75%,
    95% {
      margin-top: -5.2rem;
    }
    100% {
      margin-top: 0;
    }
  }
}
