@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


@import './header.scss';
@import './variables';
@import './index.scss';
@import './Homepage.scss';
@import './Project.scss';
@import './footer.scss';
// @import './component/addButton.scss';
@import './addButton.scss';

body {
  background-color: #121919;
  color: $accent-color;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;  
  font-weight: bold;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}