// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import "./header.scss";
@import "./variables";
@import "./index.scss";
@import "./Homepage.scss";
@import "./Project.scss";
@import "./footer.scss";
@import "./addButton.scss";
@import "./misc.scss";
@import "./About.scss";

body {
  background: #000000;
  // background: linear-gradient(
  //   to right,
  //   rgba(51, 139, 147, 0.02),
  //   60%,
  //   rgba(182, 244, 146, 0.03)
  // );  color: #0C1821;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #99e4ff; 
  color: #000000; 
}

::-moz-selection {
  background-color: #99e4ff; 
  color: #000000; 
}

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}
.comic-neue-bolder {
  font-family: "Comic Neue", cursive;
  font-weight: bolder;
  // font-style: italic;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}
