@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

.app-header {

  margin-bottom: 15vh;
  background-color: linear-gradient(270deg, $secondary-accent-color 0%, $accent-color 100%);

  .navbar {
    width: 70%;
    margin: 2rem auto;
    padding: $padding-default;
    background: $secondary-color;
    backdrop-filter: blur(10px);
    border-radius: $border-radius;
    box-shadow: 0px 0.5px 1px rgb(116, 115, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .navbar-list {
      list-style: none;
      display: flex;
      width: 100%;
      padding: 0;
      margin: 0;

      .navbar-item {
        margin: 0 2rem;
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        justify-content: center;

  
        .navbar-link {
          text-decoration: none;
          color: $accent-color;
          font-weight: 600;
          margin: 15px;
          padding: $link-padding;
          position: relative;
          transition: color $transition-time;
          transition: all $transition-time ease;
          text-shadow: 0px 0.5px 1px rgb(116, 115, 115);

        }

        .navbar-link:hover {
          transform: scale(1.1);
          color: $base-color;
        }

        .hover {
          &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $secondary-color;
            visibility: hidden;
            transition: all $transition-time ease-in-out;
          }

          &:hover::before {
            visibility: visible;
            background-color: $base-color;
            color: $secondary-color;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .app-header {

    max-height: 6vh;
    margin-bottom: 6vh;

    .navbar {
      width: 90%;
      max-height: 5vh;
      margin-top: 1rem;
      margin-bottom: 0;
      flex-direction: row;
      box-shadow: 0px 0.5px 1px rgb(116, 115, 115);
      position: fixed;
      left: 0;
      right: 0;
      z-index: 1000;


      .navbar-list {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .navbar-item {
          font-size: 0.8rem;
          padding: 0;

          .navbar-link {
            margin-left: -20px;
            margin-right: -20px;
          }

          .navbar-link-item {
            display: flex;
            align-items: left;
            flex: 1;
            justify-content: center;

          }


          .navbar-link-icon {
            display: flex;
            align-items: left;
            flex: 1;
            justify-content: center;

          }

          .dropdown-menu {
            position: absolute;
            top: 95%;
            left: 2%;
            background-color: $secondary-color;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            width: 39vh;
            border-radius: 15px;
            height: fit-content;
            margin-top: 2vh;
            transition: all 1s ease;
          }

          .dropdown-item {
            padding: 12px 16px;
            text-decoration: none;
            height: fit-content;
            display: flex;
            width: 100%;
            justify-content: center;
            border-radius: 15px;
            color: $accent-color;
            border-bottom: lighten($accent-color, 50%) 1px solid;
            transition: all $transition-time ease;

            &:hover {
              background-color: lighten($secondary-color, 10%);
              border-radius: 15px;
              color: $base-color;

            }

            .dropdown-item-text {
              align-items: flex-end;
              justify-content: center;
              display: flex;
              border-radius: 15px;
              flex-direction: column;
              flex: 3;
              font-size: 1.2rem;
            }

            .dropdown-item-icon {
              display: flex;
              align-items: left;
              flex: 2;
              justify-content: center;
            }
          }

          .sub-dropdown-menu {
            background-color: $secondary-color;
            height: fit-content;
            transition: all 1s ease;
            border-radius: 15px;

          }

          .sub-dropdown-item {
            padding: 12px 16px;
            text-decoration: none;
            height: fit-content;
            display: flex;
            width: 100%;
            border-radius: 15px;
            // background-color: red;
            align-items: flex-end;
            color: $accent-color;
            transition: all $transition-time ease;
            cursor: pointer;

            &:hover {
              background-color: $accent-color;
              color: $secondary-color;
            }
          }

        }
      }
    }
  }
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
  transform-origin: center;
}

.rotate-icon-again {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
  transform-origin: center;
}