@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

.navbar {
  width: 70%;
  margin: 2rem auto;
  padding: $padding-default;
  background: $secondary-color;
  backdrop-filter: blur(10px);
  border-radius: $border-radius;
  box-shadow: 0px 0.5px 1px rgb(116, 115, 115);
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 7vh;
  max-height: 7vh;

  .navbar-list {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;

    .navbar-item {
      margin: 0 1rem;
      display: flex;
      font-size: 1rem;
      flex-direction: column;
      justify-content: center;

      .hindi {
        font-family: 'Dekko', cursive;
        font-size: 2.0rem;
        overflow: auto;
        text-align: center;
        color: $accent-color; 
      }
      
      .hindi p {
        color: $accent-color;
        text-shadow: 1px 1px 2px rgb(116, 115, 115);
      }

      // .hindi:hover{
      //   color: #f0f0f0;
      //   text-shadow: 2px 2px 4px rgb(0, 0, 0);
      // }

      .navbar-link {
        text-decoration: none;
        color: $accent-color;
        font-weight: 600;
        margin: 10px;
        padding: $link-padding;
        position: relative;
        transition: color $transition-time;
        transition: all $transition-time ease;
        text-shadow: 0px 0.5px 1px rgb(116, 115, 115);

      }

      .navbar-link:hover{
        transform: scale(1.1);
      }

      .hover{
        &::before {
          content: '';
          position: absolute;
          width: 0%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $accent-color;
          visibility: hidden;
          transition: all $transition-time ease-in-out;
        }

        &:hover::before {
          visibility: visible;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    width: 90%;
    max-height: 5vh;
    margin: 1.5rem auto;
    padding: 15px;

    .navbar-list {
      .navbar-item {
        margin: 0 0.5rem;
        // font-size: 0.9rem;


        .hindi {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 80%;
    max-height: 5vh;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    box-shadow: 0px 0.5px 1px rgb(116, 115, 115);


    .navbar-list {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .navbar-item {
        margin: 0.3rem 1rem;
        // font-size: 0.9rem;
          .hindi {
            font-family: 'Dekko', cursive;
            font-size: 2.5rem;
            text-align: center;
            color: #fff; 
        }

        .hindi {
          font-size: 1.5rem;
        }
      }
    }
  }
}
