@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

.app-header {

  margin-bottom: 15vh;
  background-color: linear-gradient(270deg, $secondary-accent-color 0%, $accent-color 100%);

  .navbar {
    width: 70%;
    margin: 2rem auto;
    padding: $padding-default;
    background: #2f323c49;
    backdrop-filter: blur(30px);
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;

    .navbar-list {
      list-style: none;
      display: flex;
      width: 100%;
      padding: 0;
      margin: 0;

      .navbar-item {
        margin: 0 2rem;
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        justify-content: center;


        .navbar-link {
          text-decoration: none;
          color: $secondary-color;
          font-weight: 600;
          margin: 15px;
          padding: $link-padding;
          position: relative;
          transition: color $transition-time;
          transition: all $transition-time ease;
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .navbar-link:hover {
          transform: scale(1.1);
          color: $base-color;
        }

        .hover {
          &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $secondary-color;
            visibility: hidden;
            transition: all $transition-time ease-in-out;
          }

          &:hover::before {
            visibility: visible;
            background-color: $base-color;
            color: $secondary-color;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .app-header {

    max-height: 6vh;
    margin-bottom: 6vh;

    .navbar {
      width: 90%;
      max-height: 5vh;
      margin-top: 1rem;
      margin-bottom: 0;
      flex-direction: row;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 1000;


      .navbar-list {
        justify-content: space-between;
        min-width: 40vh;

       

        .navbar-item {
          font-size: 0.9rem;
          padding: 0;

          .hero{
            margin-top: 1.1rem;
          }

          .navbar-link {
            margin-left: -20px;
            margin-right: -20px;
          }

          .navbar-link-icon {
            display: flex;
            flex-direction: row;
            min-width: 4rem;
            align-items: center;
            flex: 1;
            justify-content: space-between;

            .nightMode {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: transform 0.7s ease-in-out;

              svg {
                transition: transform 0.7s ease-in-out;
              }
            }

            .menuTray {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

              svg {
                transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
              }

              &.trayOpen {
                opacity: 1;
                transform: scale(1.8);
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
  transform-origin: center;
}

.rotate-icon-again {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
  transform-origin: center;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px); 
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $accent-color-light; 
  backdrop-filter: blur(20px); 
  z-index: 900; 
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; 
  pointer-events: none; 
  transition: opacity 0.3s ease; 
  
  &.visible {
    opacity: 1; 
    pointer-events: auto;
  }
}

.fullscreen-menu-content {
  color: $secondary-color;
  text-align: center;
  
  h1 {
    font-size: 2rem; 
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: $base-color; 
  }
  
  ul {
    list-style: none;
    padding: 0;
    
    li {
      margin: 1rem 0;
      
      p {
        text-decoration: none;
        color: $secondary-color;
        font-size: 1.2rem;
        padding: 0rem 1rem;
        border-radius: 0.3rem;
        transition: background 0.3s ease, transform 0.3s ease;
        
        &:hover {
          background: $base-color;
          transform: scale(1.05);
        }
      }

      .line{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border: $accent-color 1px solid;
        border-radius: 0.3rem;
      }
    }
  }
}

body.noscroll {
  overflow: hidden;
}
