// $accent-color: #4A90E2;
$background-gradient: linear-gradient(270deg, $secondary-accent-color 0%, $accent-color 100%);

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&display=swap');

.frontpage-container {
    font-family: "Lilita One", sans-serif;
    min-height: 100vh;
    max-height: 100vh;
    margin: -15vh 0vh 0vh 0vh;
    color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .container {
        color: #e5e5e5;
        font-size: 2.26rem;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .text {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-shadow: #000000 0px 0px 7px;

        }

        .name {
            font-size: 6rem;
            font-weight: bold;
            margin: 0;
            color: #e5e5e5;
        }

        .name-color {
            font-size: 8rem;
            color: #e5e5e5;
        }
    }

    .animation {
        height: 5rem;
        overflow: hidden;
        margin-top: 1rem;
        
    }

    .animation>div>div {
        padding: 0.25rem 1.5rem;
        min-height: 3rem;
        min-width: fit-content;
        margin-bottom: 3rem;
        display: inline-block;
        font-size: 3rem;
        text-shadow: #000000 0px 0px 5px;
        font-weight: bold;
        line-height: 3rem;
        white-space: nowrap;
    }

    .animation div:first-child {
        animation: text-animation 8s infinite;
    }

    .second{
        margin-top: 0.5rem;
    }
    
    .third{
        margin-top: -0.9rem;
    }

    .first div {
        background-color: #20a7d8db;
    }

    .second div {
        background-color: #cd931ee3;
    }

    .third div {
        background-color: #c10527df;
        min-height: 5.2rem;
    }

    @keyframes text-animation {

        0%,
        10% {
            margin-top: 0;
        }

        20%,
        30% {
            margin-top: -5rem;
        }

        40%,
        60% {
            margin-top: -10.25rem;
        }

        70%,
        80% {
            margin-top: -5rem;
        }

        90%,
        100% {
            margin-top: 0;
        }
    }
}

@media (max-width: 768px) {
    .frontpage-container {
        margin: 0vh;
        display: flex;
        flex-direction: column;
        text-align: left;
        border-radius: 0px;
        min-height: 95vh;

        .container {
            color: #e5e5e5;
            font-size: 2.26rem;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: left;

            .text {
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-shadow: #000000 0px 0px 7px;
            }
    
            .name {
                font-size: 3rem;
                font-weight: bold;
                margin: 0;
                color: #e5e5e5;
            }
    
            .name-color {
                font-size: 5rem;
                color: #e5e5e5;
            }
        }

        .animation>div>div {
            min-height: 3rem;
            min-height: fit-content;
            margin-bottom: 3rem;
            font-size: 2rem;
            line-height: 2rem;
        }

        .second{
            min-height: fit-content;
            margin-top: 1rem;
        }
    }
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;

   
}