.project-container {
    min-height: fit-content;
    max-height: fit-content;
    background-color: $secondary-color;
    margin: 0vh 15vh 15vh 15vh;
    border-radius: 15px;
    color: $accent-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.7s ease;
    position: relative;
}

.project-card {
    background-color: $accent-color;
    margin: 2vh 2vh;
    padding: 20px;
    color: $secondary-color;
    height: fit-content;
    width: calc(33% - 40px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.project-card.visible {
    opacity: 1;
    transform: scale(1);
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
        align-items: center;
        margin: 0vh;
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
        padding: 10px;
        border-left: none;
        padding-top: 5vh;

        .timeline {
            position: absolute;
            left: 50.5%;
            top: 0;
            bottom: 0;
            width: 1px;
            z-index: 0;
          
            box-shadow:
              0 0 0 1px $accent-color, 
          }
          

        .timeline-indicator {
            position: absolute;
            left: 51%;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            transform: translateX(-50%);
            z-index: 1;
            background-color: $secondary-color;
            background-image: url('/icons8-mandala-100.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          
            box-shadow: 
              0 0 0 1px $base-color,  
              0 0 0 3px $secondary-color,       
              0 0 0 4px $accent-color;    
          }
          

        .project-card {
            width: 90%;
            margin: 5vh 0;
            padding: 15px;
            font-size: 14px;
            box-shadow: none;
            position: relative;
            background-color: $secondary-color;
            color: $accent-color;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:nth-of-type(n + 2) .timeline-indicator {
                top: -60px;
            }

            h2 {
                color: $accent-color;
            }

            p,
            a {
                margin: 0;
            }
        }

        .project-card:hover{
            color: $base-color;
        }

    }
}
